#cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

main {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-family: 'monospace' monospace;
    background-color: rgb(206, 200, 206);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(69, 71, 73);
}

img {
    border: solid white;
    width: 80%;
    background-color: rgb(244, 247, 250);
    box-shadow: 5px 5px 5px rgb(69, 71, 73);
}

section {
    background-color: #bfafd1;
    border: solid 2px #540dc7;
    box-shadow: 5px 5px 5px rgb(69, 71, 73);
}

h1 {
    font-weight: 900;
    font-size: 40px;
}

footer {
    text-align: center;
    font-size: 20px;
    padding: 25px;
}


h1,
h2 {
    text-align: center;
    color: #500880;
}

@media only screen and (min-width: 35.5em) {
    #cards {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        width: 70%;
    }
}

@media only screen and (min-width: 60em) {
    #cards {
        grid-template-columns: repeat(4, 1fr);
    }

    img {
        width: 80%;
    }
}