* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form label,
form div {
    display: block;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 450px;
    grid-column: span 2;
}


input,
textarea,
select {
    padding: 10px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 1px solid navy;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

label {
    color: navy;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
}

input::placeholder {
    font-size: 13px;
}

#formmessage {
    visibility: none;
    margin: 10px;
    padding: 0.5rem;
    color: red;
}

#keyphrase:invalid {
    background-color: #fff0f3;
    animation: shaketext 500ms;
}

.req::after {
    font-size: 10px;
    content: " *️⃣";
}

.smaller {
    font-size: 11px;
    position: absolute;
    top: -10px;
    right: 10px;
}


#r {
    width: 180px;
    margin-bottom: 0;
}

#rangevalue {
    font-size: 2rem;
    color: navy;
}

#rangevalues {
    display: flex;
    margin: 0 0 0 25px;
    width: 200px;
}

#rangevalues option {
    flex: 1 1 auto;
}

label {
    display: block;
    font-weight: 700;
}



@keyframes shaketext {
    25% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(-3px);
    }

    75% {
        transform: translateX(3px);
    }


}

@media only screen and (min-width: 60em) {
    :root {
        --color-main: #50514F;
        --color-secondary: #B4ADEA;
        --color-tertiary: #FDFFF7;
        --color-quad: #b9baa3;
        --shadow: #333;

    }

    header img {
        width: 100px;
    }

    .headings h1 {
        font-size: 3rem;
    }

    .iconH4 {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }

    nav ul {
        display: flex;
    }

    .navigation {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav a {
        font-size: 1rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    footer {
        width: 60%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        margin: 20px auto;
        background-color: #fff;
        max-width: 500px;
    }
}