@media only screen and (min-width: 60em) {
    :root {
        --color-main: #50514F;
        --color-secondary: #B4ADEA;
        --color-tertiary: #FDFFF7;
        --color-quad: #b9baa3;
        --shadow: #333;

    }

    h2 {
        color: steelblue;
    }

    header img {
        width: 100px;
    }

    .headings h1 {
        font-size: 3rem;
    }

    .iconH4 {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }

    nav ul {
        display: flex;
    }

    .navigation {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav a {
        font-size: 1rem;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    footer {
        width: 60%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main h1 {
        grid-column: span 2;
    }

    table {
        border-collapse: collapse;
        margin: auto;
    }

    .forecastsection {
        display: contents;
        background-color: #78b7ce;
        border-radius: 10px;
    }

    .h4forecast {
        display: contents;
    }

    .bannerSection {
        position: absolute;
        padding: 1.5rem;
        top: 30px;
        left: 40px;
    }

    .bannerdiv img {
        height: 350px;
    }

    .artimg {
        width: 350px;
        height: 350px;
        float: right;
        box-shadow: 0 0 30px #111;
        top: -50px
    }

    .boxes {
        display: flex;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }
}