@media only screen and (min-width: 37.5em) {
    :root {
        --color-main: #50514F;
        --color-secondary: #B4ADEA;
        --color-tertiary: #FDFFF7;
        --color-quad: #b9baa3;
        --shadow: #333;

    }

    .boxes {
        background-color: #b9baa3;
        align-items: center;
        color: #333;
    }

    .footer {
        width: 80%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        width: 80%
    }
}