:root {
    --color-main: #50514F;
    --color-secondary: #B4ADEA;
    --color-tertiary: #FDFFF7;
    --color-quad: #b9baa3;
    --shadow: #333;
}

*::before,
*::after {
    box-sizing: inherit;
}

.reserveform {
    margin: 1rem auto;
    width: 90%;
    max-width: 500px;
}


select,
option,
input,
label,
legend {
    padding: 0.2rem 1rem;
    color: inherit;

}

.form-box,
.form-rating {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    ;
}

.form-rating {
    padding: 0.5rem 0;
    display: flex;
}

.form-box label {
    display: none;
}

.form-box input,
.form-box select,
.form-box textarea {
    flex-basis: 100%;
}

.flexer {
    display: flex;
    align-items: center;
}


#yesbutton,
#maybebutton,
#nobutton {
    display: block;
    margin-right: 5rem;
}

#danger {
    display: block;
}


#submitform {
    display: block;
    margin: auto;
}

#bigthanks {
    display: none;
}

#smallthanks {
    margin-left: 7rem;
    display: block;
}



input:invalid {
    background-color: var(--color-main);
    color: var(--shadow);
}


#btnSend {
    background-color: var(--color-quad);
    font-size: large;
    font-family: 'Cinzel', serif;
    ;
    cursor: pointer;
}


#domain,
#region,
#state,
#cruise {
    cursor: pointer;

}

.resource li {
    font-family: 'East Sea Dokdo', cursive;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    font-size: medium;
}


@media only screen and (min-width: 500px) {

    .form-box label {
        display: block;
    }

    .form-rating {
        padding: 0.5rem 0;
        display: block;
    }

    .form-rating input,
    .form-rating select,
    .form-rating textarea {
        flex-basis: 50%;
        margin-left: 1rem;
    }

    @media only screen and (min-width: 52.2em) {

        table {
            font-size: large;
        }

        table td {
            padding: 2.1em;
        }

        .resource li {

            font-size: large;
        }
    }
}